.worksContainer{
    border-top: 100px solid rgba(0, 0, 0, 0.8);
    padding: 20px 20px 0px 20px;
}
.worksHeader{
    width: 242px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}
.works{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.work{
    width: 500px;
    border: solid 1px #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    background-color: #eeeeee;
}
.workImg{
    width: 500px;
}
.workTitle{
    text-align: center;
    padding-top: 20px;
    color: #E58411;
    font-size: 20px;
    font-weight: 400;
}
.workDescr{
    padding: 20px;
    font-size: 12px;
    font-weight: 300;
    text-align: justify;
}
@media screen and (min-width: 768px) {
    .worksContainer{
    padding: 30px 80px 0px 80px;
}
.worksHeader{
    width: 242px;
    margin-bottom: 20px;
    margin-left: 180px;
    font-size: 28px;
}
.work, .workImg{
    width: 600px;
}
}
@media screen and (min-width: 1440px) {
    .worksContainer{
    padding: 50px 80px 0px 80px;
}
.worksHeader{
    width: 242px;
    margin-bottom: 50px;
    margin-left: 500px;
    font-size: 34px;
}
}