.reviewsContainer{
    margin-top: 100px;
    padding: 20px 20px 0px;
    background-color: #F7F7F7;
}
.reviewsHeader{
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}
.reviews{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.reviewCard{
    width: 300px;
    margin: 0px auto;
    border: solid 1px #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    background-color: #eeeeee;
}
.reviewImg{
    width: 300px;
}
.name{
    padding-top: 20px;
    text-align: center;
    color: #E58411;
    font-size: 20px;
    font-weight: 300;
}
.review{
    padding: 20px;
    /* height: 20px; */
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
}
.stars{
    width: 100px;
    height: 20px;
    margin: 20px auto;
    background-color: yellow;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .reviewsContainer{
    margin-top: 100px;
    padding: 50px 80px 50px 80px;
}
.reviewsHeader{
    margin-bottom: 50px;
    font-size: 34px;
}
.reviewCard, .reviewImg{
    width: 280px;
}
}
@media screen and (min-width: 1200px) {
    .reviewsContainer{
    margin-top: 100px;
    padding: 50px 80px 50px 80px;
}
.reviewsHeader{
    margin-bottom: 50px;
    font-size: 34px;
}
.reviewCard, .reviewImg{
    width: 280px;
}
}