.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../../../public/hero.png);
    background-size: cover;
    width: 1440px;
    height: 1084px;
    box-shadow: 0px 1px 1px rgba(180, 114, 27, 0.12), 0px 4px 4px rgba(180, 114, 27, 0.06), 1px 4px 6px rgba(180, 114, 27, 0.16);
}
.heroHeader{
    margin: 0;
    padding-top: 300px;
    width: 861px;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    text-align: center;
    color: #ffffff;
}
.heroDescr{
    width: 500px;
    margin-top: 250px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}
.heroBtn{
    margin-top: 50px;
    margin-left: 30px;
    width: 160px;
    height: 60px;
    border-radius: 4px;
    border-color: transparent;
    background-color:#E58411;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
.heroBtn:hover{
    background-color:#fa9314;
}