.advantagesContainer{
  display: none;
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 50px 0px;
    overflow-x: hidden;
    background-color: #F7F7F7;
}
.advantagesHeader{
    display: none;
}
.advantage{
    display: flex;
    justify-content: space-around;
}
.advantage:not(:last-child){
    margin-bottom: 80px;
}
.advantage:nth-child(1){
    margin-left: -150px;
}
.advantage:nth-child(2){
    flex-direction: row-reverse;
    margin-right: -150px;
}
.advantageImg{
    border-radius: 30px;
}
@media screen and (min-width: 768px) {
  .advantagesContainer {
    display: block;
    max-width: 768px;
  }
  .advantageText{
    margin-top: 60px;
    width: 250px;
    height: 132px;
}
.advantageTitle{
    margin-bottom: 20px;
    font-size: 26px;
}
.advantageDescr{
    font-size: 14px;
    line-height: 2;
}
}
@media screen and (min-width: 1200px) {
  .advantagesContainer {
    display: block;
    max-width: 1200px;
  }
  .advantageText{
    margin-top: 90px;
    width: 556px;
    height: 132px;
}
.advantageTitle{
    margin-bottom: 20px;
    font-size: 34px;
}
.advantageDescr{
    font-size: 14px;
    line-height: 2;
}
}