.advantagesContainer{
    max-width: 1440px;
    margin: 120px 0px 0px 0px;
    padding: 50px 0px 50px 0px;
    background-color: #F7F7F7;
}
.advantagesHeader{
    display: none;
}
.advantage{
    display: flex;
    justify-content: space-around;
}
.advantage:not(:last-child){
    margin-bottom: 80px;
}
.advantage:nth-child(1){
    margin-left: -150px;
}
.advantage:nth-child(2){
    flex-direction: row-reverse;
    margin-right: -150px;
}
.advantageImg{
    border-radius: 30px;
}
.advantageText{
    margin-top: 90px;
    width: 556px;
    height: 132px;
}
.advantageTitle{
    margin-bottom: 20px;
    font-size: 34px;
}
.advantageDescr{
    font-size: 14px;
    line-height: 2;
}