.reviwesContainer{
    margin-top: 100px;
    padding: 50px 80px 50px 80px;
    background-color: #F7F7F7;
}
.reviwesHeader{
    width: 400px;
    margin-bottom: 50px;
    margin-left: 300px;
    font-size: 34px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}
.reviwes{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.reviweCard{
    width: 250px;
    border: solid 1px #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    background-color: #eeeeee;
}
.name{
    padding: 20px 0px 0px 70px;
    color: #E58411;
    font-size: 20px;
    font-weight: 300;
}
.reviwe{
    padding: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
}
.stars{
    width: 100px;
    height: 20px;
    margin: 20px 75px;
    background-color: yellow;
    text-align: center;
}