.homeContainer{
    /* max-width: 1440px; */
    overflow-x: hidden;
}

/* @media screen and (min-width: 480px) {
  .homeContainer {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .homeContainer {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .homeContainer {
    max-width: 1440px;
  }
} */
