.featuresContainer{
    display: block;
    max-width: 480px;
    margin: 0 auto 0 auto;
    padding: 10px;
}
.featuresHeader{
    padding: 20px 0px;
    font-size: 24px;
    text-align: center;
}
.features{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.feature{
    padding: 10px 0px;
}
.featureTitle{
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
    color: #E58411;
}
.featureDesc{
    font-size: 12px;
    line-height: 2;
}
@media screen and (min-width: 768px) {
  .featuresContainer {
    max-width: 768px;
  }
  .featuresHeader{
    font-size: 30px;
}
.features{
    display: flex;
    gap: 28px;
}
.feature{
  width: 284px;
}
.featureTitle{
    font-size: 20px;
    margin-bottom: 20px;
    color: inherit;
}
}
@media screen and (min-width: 1200px) {
  .featuresContainer {
    display: flex;
    gap: 130px;
    max-width: 1200px;
    padding: 80px;
  }
  .featuresHeader{
    padding-top: 38px;
    width: 242px;
    font-size: 34px;
    text-align: start;
}
.features{
    display: flex;
    gap: 28px;
}
.feature{
  width: 284px;
}
.featureTitle{
    font-size: 20px;
    margin-bottom: 20px;
    color: inherit;
}
.featureDesc{
    font-size: 14px;
    line-height: 2;
}
}