.featuresContainer{
    display: flex;
    gap: 130px;
    max-width: 1440px;
    margin: 0 auto 0 auto;
    padding: 80px;
}
/* @media screen and (min-width: 480px) {
  .featuresContainer {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .featuresContainer {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .featuresContainer {
    max-width: 1440px;
  }
} */
.featuresHeader{
    padding-top: 38px;
    width: 242px;
    font-size: 34px;
}
.features{
    display: flex;
    gap: 28px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.feature{
    width: 284px;
}
.featureTitle{
    font-size: 20px;
    margin-bottom: 20px;
}
.featureDesc{
    font-size: 14px;
    line-height: 2;
}