@import-normalize; /* bring in normalize.css styles */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  color: #1E1E1E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.active{
  color: #E58411;
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}
a:hover{
  color: #E58411;
}